
@page "/statuses";
@inject HttpClient Http
@using WebAssemblyF.Models;
<h3>List of statuses </h3>

@if (Statuses == null)
{
	<p><em> Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>StatusId</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var status in Statuses){
			<tr>
				<td>@status.StatusId</td>
				<td>@status.Status</td>
			</tr>
			}
		</tbody>
	</table>
}
@code {
	private List<StatusModel> Statuses;

	protected override async Task OnInitializedAsync()
	{
		Statuses = await Http.GetFromJsonAsync<List<StatusModel>>("api/Status");
	}
}
