@page "/counter"

<PageTitle>Here your task</PageTitle>

<h1>Task condition: </h1>
@attribute [Authorize]
@inject HttpClient Http


@code {

    //private List<TaskModel> MyTask;

    async Task CallApi()
    {
        //MyTask = await Http.GetFromJsonAsync<List<TaskModel>>("/api/Task");
    }
}
